### Regression Model In Keras Part A

First, the appropriate libraries are imported, i.e. Pandas and NumPy.

In [1]:
import pandas as pd #This code imports pandas libraries
import numpy as np #This code imports NumPy libraries

Next, we load the csv file using the pandas library into a dataframe.

In [2]:
c_data = pd.read_csv('https://cocl.us/concrete_data') #This code reads the data from the csv file into a pandas dataframe
c_data.head() #We then display the first 5 rows of data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

We then check the shape of the dataframe.

In [3]:
c_data.shape

(1030, 9)

we determine if the data is erroneous.

In [4]:
c_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
c_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

From this, we can see that the column 'Strength' is dependent on the values on the other columns. Therefore we split the dataframe into two: the target (strength)
and the predictors (the other columns).

In [6]:
c_data_columns = c_data.columns
predictors = c_data[c_data_columns[c_data_columns != 'Strength']] # creates pandas dataframe for all columns except Strength
target = c_data['Strength'] # Strength column in the data frame
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

We can then see the first 5 values of the predictor

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Additionally, we must save the number of predictors in such a manner as it is necessitated by the following function.

In [8]:
n_cols = predictors.shape[1] # number of predictors

Next We import Keras and all the requisite packages.

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

## Regression Model

We then make our regression model

In [10]:
# define regression model
def regression_model():
    # create model
    model = Sequential()#Creates a sequnetial model
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))# creates 10 nodes using the Relu function as an activation function
    model.add(Dense(1)) #The output layer
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error') #The optimizer used was adam and mean squared error is used as the loss in back propagation.
    return model

## Training and Testing
We now implement a test/train split to first train the data then test it.

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors,  target, test_size=0.3, random_state = 4)

The model is then called and trained for 50 epochs.

In [12]:
R_model = regression_model()
R_model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 98193.3984 - 455ms/epoch - 20ms/step
Epoch 2/50
23/23 - 0s - loss: 21487.8105 - 27ms/epoch - 1ms/step
Epoch 3/50
23/23 - 0s - loss: 13709.7334 - 31ms/epoch - 1ms/step
Epoch 4/50
23/23 - 0s - loss: 12621.3467 - 33ms/epoch - 1ms/step
Epoch 5/50
23/23 - 0s - loss: 11576.1553 - 26ms/epoch - 1ms/step
Epoch 6/50
23/23 - 0s - loss: 10585.0098 - 139ms/epoch - 6ms/step
Epoch 7/50
23/23 - 0s - loss: 9591.9258 - 27ms/epoch - 1ms/step
Epoch 8/50
23/23 - 0s - loss: 8575.4316 - 28ms/epoch - 1ms/step
Epoch 9/50
23/23 - 0s - loss: 7505.1816 - 31ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 6441.1206 - 33ms/epoch - 1ms/step
Epoch 11/50
23/23 - 0s - loss: 5374.0317 - 27ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 4418.8105 - 33ms/epoch - 1ms/step
Epoch 13/50
23/23 - 0s - loss: 3607.3118 - 33ms/epoch - 1ms/step
Epoch 14/50
23/23 - 0s - loss: 2902.4922 - 27ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 2338.7449 - 29ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 1876.3625 - 29ms/epoch - 1ms/step
Epoch 17/50
23/23 - 0s - loss: 1495.9514 - 31ms/epoch - 1ms/step
Epoch 18/50
23/23 - 0s - loss: 1201.5164 - 31ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 967.8674 - 29ms/epoch - 1ms/step
Epoch 20/50
23/23 - 0s - loss: 784.1456 - 30ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 638.8000 - 31ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 525.9188 - 26ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 436.7714 - 29ms/epoch - 1ms/step
Epoch 24/50
23/23 - 0s - loss: 362.2301 - 31ms/epoch - 1ms/step
Epoch 25/50
23/23 - 0s - loss: 309.4272 - 29ms/epoch - 1ms/step
Epoch 26/50
23/23 - 0s - loss: 262.7713 - 31ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 229.3361 - 30ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 201.3490 - 28ms/epoch - 1ms/step
Epoch 29/50
23/23 - 0s - loss: 184.9466 - 29ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 166.6965 - 28ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 152.4047 - 30ms/epoch - 1ms/step
Epoch 32/50
23/23 - 0s - loss: 143.5995 - 28ms/epoch - 1ms/step
Epoch 33/50
23/23 - 0s - loss: 135.7335 - 30ms/epoch - 1ms/step
Epoch 34/50
23/23 - 0s - loss: 129.1076 - 28ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 125.0739 - 28ms/epoch - 1ms/step
Epoch 36/50
23/23 - 0s - loss: 122.6560 - 24ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 119.1268 - 25ms/epoch - 1ms/step
Epoch 38/50
23/23 - 0s - loss: 115.3248 - 32ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 113.1083 - 29ms/epoch - 1ms/step
Epoch 40/50
23/23 - 0s - loss: 111.3870 - 33ms/epoch - 1ms/step
Epoch 41/50
23/23 - 0s - loss: 108.8486 - 31ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 108.6253 - 31ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 109.0685 - 29ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 105.9379 - 25ms/epoch - 1ms/step
Epoch 45/50
23/23 - 0s - loss: 104.1210 - 27ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 104.3245 - 30ms/epoch - 1ms/step
Epoch 47/50
23/23 - 0s - loss: 104.4842 - 32ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 105.9833 - 35ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 102.8021 - 28ms/epoch - 1ms/step
Epoch 50/50
23/23 - 0s - loss: 101.4547 - 28ms/epoch - 1ms/step

## Evaluation
Finally, we evaluate the model. To do this we use the mean squared error.

In [13]:
from sklearn.metrics import mean_squared_error
loss_value = R_model.evaluate(X_test, y_test)
y_predicted = R_model.predict(X_test)
MSE = mean_squared_error(y_test, y_predicted)
std_dev = np.std(MSE)
mean = np.mean(MSE)

print("The mean was found to be:", mean)
print("The standard deviation was found to be:", std_dev)

10/10 [==============================] - 0s 2ms/step - loss: 118.7526
10/10 [==============================] - 0s 2ms/step
The mean was found to be: 118.75250829986835
The standard deviation was found to be: 0.0

We then determine the mean and standard deviation of the mean squared error for 50 iterations.

In [14]:
Sum_MSE = 50
MSE_List= []
for n in range(0, Sum_MSE):
    X_train, X_test, y_train, y_test = train_test_split(predictors,  target, test_size=0.3, random_state = 4)
    R_model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = R_model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error",str(n+1),":",MSE)
    y_predicted = R_model.predict(X_test)
    MSE = mean_squared_error(y_test, y_predicted)
    MSE_List.append(MSE)

MSE_List = np.array(MSE_List)
mean = np.mean(MSE_List)
std_dev = np.std(MSE_List)


print("The mean of the mean squared errors were determined to be:", mean)
print("The standard deviation of the mean squared errors were determined to be", std_dev)

Mean Squared Error 1 : 113.97494506835938
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 2 : 113.2106704711914
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 3 : 105.31800842285156
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 4 : 79.23973846435547
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 5 : 75.51184844970703
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 6 : 68.87210845947266
10/10 [==============================] - 0s 906us/step
Mean Squared Error 7 : 90.57569885253906
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 8 : 66.25841522216797
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 9 : 59.28181076049805
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 10 : 58.83915328979492
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 11 : 69.75284576416016
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 12 : 51.1396484375
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 13 : 49.08223342895508
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 14 : 49.82620620727539
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 15 : 49.707401275634766
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 16 : 70.15433502197266
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 17 : 47.57014846801758
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 18 : 48.3775520324707
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 19 : 48.72557830810547
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 20 : 57.379032135009766
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 21 : 48.49739456176758
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 22 : 51.41300582885742
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 23 : 48.20549392700195
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 24 : 61.12984085083008
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 25 : 62.259315490722656
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 26 : 46.84367752075195
10/10 [==============================] - 0s 996us/step
Mean Squared Error 27 : 48.49488067626953
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 28 : 48.645957946777344
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 29 : 46.718894958496094
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 30 : 54.61729049682617
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 31 : 49.79780578613281
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 32 : 49.60100173950195
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 33 : 78.92839813232422
10/10 [==============================] - 0s 778us/step
Mean Squared Error 34 : 48.48179626464844
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 35 : 48.41716766357422
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 36 : 67.50018310546875
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 37 : 52.08551025390625
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 38 : 48.405887603759766
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 39 : 49.86312484741211
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 40 : 46.56376266479492
10/10 [==============================] - 0s 973us/step
Mean Squared Error 41 : 47.323368072509766
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 42 : 46.53151321411133
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 43 : 48.292381286621094
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 44 : 46.40655517578125
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 45 : 55.814327239990234
10/10 [==============================] - 0s 889us/step
Mean Squared Error 46 : 50.54085922241211
10/10 [==============================] - 0s 886us/step
Mean Squared Error 47 : 48.0053825378418
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 48 : 47.290157318115234
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 49 : 54.270233154296875
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 50 : 47.566490173339844
10/10 [==============================] - 0s 1ms/step
The mean of the mean squared errors were determined to be: 58.42618311791089
The standard deviation of the mean squared errors were determined to be 16.73193310466338