### Regression Model In Keras Part B

First, the appropriate libraries are imported, i.e. Pandas and NumPy.

In [1]:
import pandas as pd #This code imports pandas libraries
import numpy as np #This code imports NumPy libraries

Next, we load the csv file using the pandas library into a dataframe.

In [2]:
c_data = pd.read_csv('https://cocl.us/concrete_data') #This code reads the data from the csv file into a pandas dataframe
c_data.head() #We then display the first 5 rows of data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

We then check the shape of the dataframe.

In [3]:
c_data.shape

(1030, 9)


we determine if the data is erroneous.

In [4]:
c_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
c_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

From this, we can see that the column 'Strength' is dependent on the values on the other columns. Therefore we split the dataframe into two: the target (strength)
and the predictors (the other columns).

In [6]:
c_data_columns = c_data.columns
predictors = c_data[c_data_columns[c_data_columns != 'Strength']] # creates pandas dataframe for all columns except Strength
target = c_data['Strength'] # Strength column in the data frame
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

We can then see the first 5 values of the predictor

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the data
We subtract the mean of the predictors from the predictors and divide by the standard deviation.

In [8]:
predictors = (predictors-predictors.mean())/predictors.std()
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Additionally, we must save the number of predictors in such a manner as it is necessitated by the following function.

In [9]:
n_cols = predictors.shape[1] # number of predictors

Next We import Keras and all the requisite packages.

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

## Regression Model

We then make our regression model

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()#Creates a sequnetial model
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))# creates 10 nodes using the Relu function as an activation function
    model.add(Dense(1)) #The output layer
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error') #The optimizer used was adam and mean squared error is used as the loss in back propagation.
    return model

## Training and Testing
We now implement a test/train split to first train the data then test it.

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors,  target, test_size=0.3, random_state = 4)

The model is then called and trained for 50 epochs.

In [13]:
R_model = regression_model()
R_model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1618.0070 - 421ms/epoch - 18ms/step
Epoch 2/50
23/23 - 0s - loss: 1602.9303 - 26ms/epoch - 1ms/step
Epoch 3/50
23/23 - 0s - loss: 1588.1389 - 32ms/epoch - 1ms/step
Epoch 4/50
23/23 - 0s - loss: 1573.2458 - 32ms/epoch - 1ms/step
Epoch 5/50
23/23 - 0s - loss: 1558.2402 - 31ms/epoch - 1ms/step
Epoch 6/50
23/23 - 0s - loss: 1542.6643 - 141ms/epoch - 6ms/step
Epoch 7/50
23/23 - 0s - loss: 1526.5453 - 25ms/epoch - 1ms/step
Epoch 8/50
23/23 - 0s - loss: 1509.7190 - 31ms/epoch - 1ms/step
Epoch 9/50
23/23 - 0s - loss: 1492.0255 - 31ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 1473.6003 - 31ms/epoch - 1ms/step
Epoch 11/50
23/23 - 0s - loss: 1454.1224 - 34ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 1433.7861 - 30ms/epoch - 1ms/step
Epoch 13/50
23/23 - 0s - loss: 1412.8386 - 32ms/epoch - 1ms/step
Epoch 14/50
23/23 - 0s - loss: 1391.0161 - 33ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 1368.4532 - 30ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 1344.9434 - 29ms/epoch - 1ms/step
Epoch 17/50
23/23 - 0s - loss: 1320.4950 - 30ms/epoch - 1ms/step
Epoch 18/50
23/23 - 0s - loss: 1295.3865 - 33ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 1269.5798 - 33ms/epoch - 1ms/step
Epoch 20/50
23/23 - 0s - loss: 1243.0723 - 29ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 1215.5155 - 32ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 1187.2932 - 26ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 1158.5554 - 28ms/epoch - 1ms/step
Epoch 24/50
23/23 - 0s - loss: 1128.2052 - 34ms/epoch - 1ms/step
Epoch 25/50
23/23 - 0s - loss: 1097.6293 - 28ms/epoch - 1ms/step
Epoch 26/50
23/23 - 0s - loss: 1066.3472 - 30ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 1034.1516 - 28ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 1001.9670 - 31ms/epoch - 1ms/step
Epoch 29/50
23/23 - 0s - loss: 968.4421 - 31ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 935.5458 - 32ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 901.4588 - 26ms/epoch - 1ms/step
Epoch 32/50
23/23 - 0s - loss: 867.6093 - 28ms/epoch - 1ms/step
Epoch 33/50
23/23 - 0s - loss: 833.1902 - 27ms/epoch - 1ms/step
Epoch 34/50
23/23 - 0s - loss: 799.5210 - 33ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 765.0854 - 33ms/epoch - 1ms/step
Epoch 36/50
23/23 - 0s - loss: 731.8889 - 30ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 699.2510 - 29ms/epoch - 1ms/step
Epoch 38/50
23/23 - 0s - loss: 666.9416 - 29ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 635.8138 - 26ms/epoch - 1ms/step
Epoch 40/50
23/23 - 0s - loss: 605.4519 - 29ms/epoch - 1ms/step
Epoch 41/50
23/23 - 0s - loss: 576.9855 - 28ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 549.1586 - 31ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 522.8818 - 29ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 497.7730 - 35ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 474.2045 - 40ms/epoch - 2ms/step
Epoch 46/50
23/23 - 0s - loss: 452.2334 - 40ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 431.2592 - 33ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 412.0547 - 35ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 393.7254 - 37ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 377.1178 - 38ms/epoch - 2ms/step

## Evaluation
Finally, we evaluate the model. To do this we use the mean squared error.

In [14]:
from sklearn.metrics import mean_squared_error
loss_value = R_model.evaluate(X_test, y_test)
y_predicted = R_model.predict(X_test)
MSE = mean_squared_error(y_test, y_predicted)
std_dev = np.std(MSE)
mean = np.mean(MSE)

print("The mean was found to be:", mean)
print("The standard deviation was found to be:", std_dev)

10/10 [==============================] - 0s 1ms/step - loss: 392.1531
10/10 [==============================] - 0s 2ms/step
The mean was found to be: 392.1530619136785
The standard deviation was found to be: 0.0

We then determine the mean and standard deviation of the mean squared error for 50 iterations.

In [15]:
Sum_MSE = 50
MSE_List= []
for n in range(0, Sum_MSE):
    X_train, X_test, y_train, y_test = train_test_split(predictors,  target, test_size=0.3, random_state = 4)
    R_model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = R_model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error",str(n+1),":",MSE)
    y_predicted = R_model.predict(X_test)
    MSE = mean_squared_error(y_test, y_predicted)
    MSE_List.append(MSE)

MSE_List = np.array(MSE_List)
mean = np.mean(MSE_List)
std_dev = np.std(MSE_List)


print("The mean of the mean squared errors were determined to be:", mean)
print("The standard deviation of the mean squared errors were determined to be", std_dev)

Mean Squared Error 1 : 188.77041625976562
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 2 : 140.55567932128906
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 3 : 107.03218841552734
10/10 [==============================] - 0s 889us/step
Mean Squared Error 4 : 85.83992004394531
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 5 : 67.27242279052734
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 6 : 55.853736877441406
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 7 : 50.62457275390625
10/10 [==============================] - 0s 986us/step
Mean Squared Error 8 : 47.9051628112793
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 9 : 46.195045471191406
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 10 : 44.887996673583984
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 11 : 44.192684173583984
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 12 : 43.55779266357422
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 13 : 43.20327377319336
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 14 : 42.79388427734375
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 15 : 42.20158767700195
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 16 : 41.86423873901367
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 17 : 41.60579299926758
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 18 : 41.281402587890625
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 19 : 40.9407958984375
10/10 [==============================] - 0s 886us/step
Mean Squared Error 20 : 40.50836944580078
10/10 [==============================] - 0s 998us/step
Mean Squared Error 21 : 40.44917678833008
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 22 : 39.9564323425293
10/10 [==============================] - 0s 888us/step
Mean Squared Error 23 : 39.79179763793945
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 24 : 39.57030487060547
10/10 [==============================] - 0s 996us/step
Mean Squared Error 25 : 39.621849060058594
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 26 : 39.612606048583984
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 27 : 39.43560028076172
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 28 : 39.35178756713867
10/10 [==============================] - 0s 918us/step
Mean Squared Error 29 : 39.19702911376953
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 30 : 39.15191650390625
10/10 [==============================] - 0s 996us/step
Mean Squared Error 31 : 39.07301330566406
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 32 : 38.992366790771484
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 33 : 38.830814361572266
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 34 : 38.705562591552734
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 35 : 38.703704833984375
10/10 [==============================] - 0s 936us/step
Mean Squared Error 36 : 38.62253952026367
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 37 : 38.72712707519531
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 38 : 38.58036422729492
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 39 : 38.495887756347656
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 40 : 38.53648376464844
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 41 : 38.733009338378906
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 42 : 38.497535705566406
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 43 : 38.5553092956543
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 44 : 38.61865234375
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 45 : 38.660491943359375
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 46 : 38.55269241333008
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 47 : 38.77295684814453
10/10 [==============================] - 0s 998us/step
Mean Squared Error 48 : 38.65742874145508
10/10 [==============================] - 0s 887us/step
Mean Squared Error 49 : 38.713375091552734
10/10 [==============================] - 0s 993us/step
Mean Squared Error 50 : 38.49372863769531
10/10 [==============================] - 0s 1ms/step
The mean of the mean squared errors were determined to be: 48.53496912457376
The standard deviation of the mean squared errors were determined to be 27.029432552848

## Conclusion
The mean in part B was lower than that of part A and the standard deviation was lightly higher indicating a slightly reduced precision and greater accuracy.