### Regression Model In Keras Part C

First, the appropriate libraries are imported, i.e. Pandas and NumPy.

In [1]:
import pandas as pd #This code imports pandas libraries
import numpy as np #This code imports NumPy libraries

Next, we load the csv file using the pandas library into a dataframe.

In [2]:
c_data = pd.read_csv('https://cocl.us/concrete_data') #This code reads the data from the csv file into a pandas dataframe
c_data.head() #We then display the first 5 rows of data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

We then check the shape of the dataframe.

In [3]:
c_data.shape

(1030, 9)


we determine if the data is erroneous.

In [4]:
c_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
c_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

From this, we can see that the column 'Strength' is dependent on the values on the other columns. Therefore we split the dataframe into two: the target (strength)
and the predictors (the other columns).

In [6]:
c_data_columns = c_data.columns
predictors = c_data[c_data_columns[c_data_columns != 'Strength']] # creates pandas dataframe for all columns except Strength
target = c_data['Strength'] # Strength column in the data frame
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

We can then see the first 5 values of the predictor

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the data
We subtract the mean of the predictors from the predictors and divide by the standard deviation.

In [8]:
predictors = (predictors-predictors.mean())/predictors.std()
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Additionally, we must save the number of predictors in such a manner as it is necessitated by the following function.

In [9]:
n_cols = predictors.shape[1] # number of predictors

Next We import Keras and all the requisite packages.

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

## Regression Model

We then make our regression model

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()#Creates a sequnetial model
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))# creates 10 nodes using the Relu function as an activation function
    model.add(Dense(1)) #The output layer
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error') #The optimizer used was adam and mean squared error is used as the loss in back propagation.
    return model

## Training and Testing
We now implement a test/train split to first train the data then test it.

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors,  target, test_size=0.3, random_state = 4)

The model is then called and trained for 100 epochs.

In [13]:
R_model = regression_model()
R_model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
23/23 - 0s - loss: 1628.9122 - 456ms/epoch - 20ms/step
Epoch 2/100
23/23 - 0s - loss: 1612.5651 - 28ms/epoch - 1ms/step
Epoch 3/100
23/23 - 0s - loss: 1596.7954 - 32ms/epoch - 1ms/step
Epoch 4/100
23/23 - 0s - loss: 1581.5107 - 26ms/epoch - 1ms/step
Epoch 5/100
23/23 - 0s - loss: 1566.2833 - 33ms/epoch - 1ms/step
Epoch 6/100
23/23 - 0s - loss: 1551.3341 - 31ms/epoch - 1ms/step
Epoch 7/100
23/23 - 0s - loss: 1535.9790 - 33ms/epoch - 1ms/step
Epoch 8/100
23/23 - 0s - loss: 1520.8812 - 34ms/epoch - 1ms/step
Epoch 9/100
23/23 - 0s - loss: 1505.3575 - 32ms/epoch - 1ms/step
Epoch 10/100
23/23 - 0s - loss: 1489.6261 - 33ms/epoch - 1ms/step
Epoch 11/100
23/23 - 0s - loss: 1473.3596 - 24ms/epoch - 1ms/step
Epoch 12/100
23/23 - 0s - loss: 1456.7957 - 30ms/epoch - 1ms/step
Epoch 13/100
23/23 - 0s - loss: 1439.5066 - 30ms/epoch - 1ms/step
Epoch 14/100
23/23 - 0s - loss: 1421.8997 - 28ms/epoch - 1ms/step
Epoch 15/100
23/23 - 0s - loss: 1403.3256 - 31ms/epoch - 1ms/step
Epoch 16/100
23/23 - 0s - loss: 1384.6001 - 32ms/epoch - 1ms/step
Epoch 17/100
23/23 - 0s - loss: 1365.1404 - 25ms/epoch - 1ms/step
Epoch 18/100
23/23 - 0s - loss: 1344.7864 - 29ms/epoch - 1ms/step
Epoch 19/100
23/23 - 0s - loss: 1324.3088 - 30ms/epoch - 1ms/step
Epoch 20/100
23/23 - 0s - loss: 1302.8303 - 28ms/epoch - 1ms/step
Epoch 21/100
23/23 - 0s - loss: 1281.3605 - 32ms/epoch - 1ms/step
Epoch 22/100
23/23 - 0s - loss: 1259.1760 - 29ms/epoch - 1ms/step
Epoch 23/100
23/23 - 0s - loss: 1236.6804 - 34ms/epoch - 1ms/step
Epoch 24/100
23/23 - 0s - loss: 1214.1677 - 30ms/epoch - 1ms/step
Epoch 25/100
23/23 - 0s - loss: 1190.9049 - 32ms/epoch - 1ms/step
Epoch 26/100
23/23 - 0s - loss: 1167.2576 - 25ms/epoch - 1ms/step
Epoch 27/100
23/23 - 0s - loss: 1143.6539 - 29ms/epoch - 1ms/step
Epoch 28/100
23/23 - 0s - loss: 1119.7123 - 31ms/epoch - 1ms/step
Epoch 29/100
23/23 - 0s - loss: 1095.5892 - 29ms/epoch - 1ms/step
Epoch 30/100
23/23 - 0s - loss: 1071.5936 - 37ms/epoch - 2ms/step
Epoch 31/100
23/23 - 0s - loss: 1047.1473 - 43ms/epoch - 2ms/step
Epoch 32/100
23/23 - 0s - loss: 1022.4185 - 33ms/epoch - 1ms/step
Epoch 33/100
23/23 - 0s - loss: 997.8297 - 30ms/epoch - 1ms/step
Epoch 34/100
23/23 - 0s - loss: 973.4435 - 34ms/epoch - 1ms/step
Epoch 35/100
23/23 - 0s - loss: 947.7616 - 37ms/epoch - 2ms/step
Epoch 36/100
23/23 - 0s - loss: 922.4941 - 34ms/epoch - 1ms/step
Epoch 37/100
23/23 - 0s - loss: 896.0425 - 31ms/epoch - 1ms/step
Epoch 38/100
23/23 - 0s - loss: 870.0646 - 33ms/epoch - 1ms/step
Epoch 39/100
23/23 - 0s - loss: 843.1029 - 32ms/epoch - 1ms/step
Epoch 40/100
23/23 - 0s - loss: 815.3063 - 32ms/epoch - 1ms/step
Epoch 41/100
23/23 - 0s - loss: 786.9022 - 29ms/epoch - 1ms/step
Epoch 42/100
23/23 - 0s - loss: 758.0383 - 34ms/epoch - 1ms/step
Epoch 43/100
23/23 - 0s - loss: 728.0792 - 34ms/epoch - 1ms/step
Epoch 44/100
23/23 - 0s - loss: 698.1959 - 33ms/epoch - 1ms/step
Epoch 45/100
23/23 - 0s - loss: 668.1935 - 24ms/epoch - 1ms/step
Epoch 46/100
23/23 - 0s - loss: 638.0068 - 24ms/epoch - 1ms/step
Epoch 47/100
23/23 - 0s - loss: 608.5016 - 26ms/epoch - 1ms/step
Epoch 48/100
23/23 - 0s - loss: 579.2686 - 25ms/epoch - 1ms/step
Epoch 49/100
23/23 - 0s - loss: 550.1765 - 27ms/epoch - 1ms/step
Epoch 50/100
23/23 - 0s - loss: 523.0641 - 32ms/epoch - 1ms/step
Epoch 51/100
23/23 - 0s - loss: 496.2024 - 27ms/epoch - 1ms/step
Epoch 52/100
23/23 - 0s - loss: 470.6696 - 24ms/epoch - 1ms/step
Epoch 53/100
23/23 - 0s - loss: 446.2415 - 26ms/epoch - 1ms/step
Epoch 54/100
23/23 - 0s - loss: 423.6584 - 23ms/epoch - 997us/step
Epoch 55/100
23/23 - 0s - loss: 401.9805 - 26ms/epoch - 1ms/step
Epoch 56/100
23/23 - 0s - loss: 381.5932 - 22ms/epoch - 954us/step
Epoch 57/100
23/23 - 0s - loss: 362.4865 - 28ms/epoch - 1ms/step
Epoch 58/100
23/23 - 0s - loss: 344.9058 - 26ms/epoch - 1ms/step
Epoch 59/100
23/23 - 0s - loss: 328.4934 - 23ms/epoch - 997us/step
Epoch 60/100
23/23 - 0s - loss: 313.4346 - 28ms/epoch - 1ms/step
Epoch 61/100
23/23 - 0s - loss: 299.4763 - 30ms/epoch - 1ms/step
Epoch 62/100
23/23 - 0s - loss: 286.5749 - 28ms/epoch - 1ms/step
Epoch 63/100
23/23 - 0s - loss: 275.1955 - 33ms/epoch - 1ms/step
Epoch 64/100
23/23 - 0s - loss: 264.4227 - 29ms/epoch - 1ms/step
Epoch 65/100
23/23 - 0s - loss: 254.7457 - 24ms/epoch - 1ms/step
Epoch 66/100
23/23 - 0s - loss: 245.9454 - 29ms/epoch - 1ms/step
Epoch 67/100
23/23 - 0s - loss: 237.9513 - 32ms/epoch - 1ms/step
Epoch 68/100
23/23 - 0s - loss: 230.8592 - 29ms/epoch - 1ms/step
Epoch 69/100
23/23 - 0s - loss: 224.2392 - 25ms/epoch - 1ms/step
Epoch 70/100
23/23 - 0s - loss: 218.4300 - 28ms/epoch - 1ms/step
Epoch 71/100
23/23 - 0s - loss: 213.3498 - 31ms/epoch - 1ms/step
Epoch 72/100
23/23 - 0s - loss: 208.4338 - 26ms/epoch - 1ms/step
Epoch 73/100
23/23 - 0s - loss: 204.1794 - 24ms/epoch - 1ms/step
Epoch 74/100
23/23 - 0s - loss: 200.1064 - 30ms/epoch - 1ms/step
Epoch 75/100
23/23 - 0s - loss: 196.6345 - 30ms/epoch - 1ms/step
Epoch 76/100
23/23 - 0s - loss: 193.3133 - 26ms/epoch - 1ms/step
Epoch 77/100
23/23 - 0s - loss: 190.3683 - 26ms/epoch - 1ms/step
Epoch 78/100
23/23 - 0s - loss: 187.5921 - 29ms/epoch - 1ms/step
Epoch 79/100
23/23 - 0s - loss: 185.1291 - 26ms/epoch - 1ms/step
Epoch 80/100
23/23 - 0s - loss: 182.8157 - 27ms/epoch - 1ms/step
Epoch 81/100
23/23 - 0s - loss: 180.5387 - 27ms/epoch - 1ms/step
Epoch 82/100
23/23 - 0s - loss: 178.4930 - 29ms/epoch - 1ms/step
Epoch 83/100
23/23 - 0s - loss: 176.6183 - 25ms/epoch - 1ms/step
Epoch 84/100
23/23 - 0s - loss: 174.7890 - 26ms/epoch - 1ms/step
Epoch 85/100
23/23 - 0s - loss: 173.1022 - 30ms/epoch - 1ms/step
Epoch 86/100
23/23 - 0s - loss: 171.4806 - 30ms/epoch - 1ms/step
Epoch 87/100
23/23 - 0s - loss: 170.0307 - 27ms/epoch - 1ms/step
Epoch 88/100
23/23 - 0s - loss: 168.5158 - 25ms/epoch - 1ms/step
Epoch 89/100
23/23 - 0s - loss: 167.1712 - 30ms/epoch - 1ms/step
Epoch 90/100
23/23 - 0s - loss: 165.6944 - 30ms/epoch - 1ms/step
Epoch 91/100
23/23 - 0s - loss: 164.3527 - 28ms/epoch - 1ms/step
Epoch 92/100
23/23 - 0s - loss: 163.0079 - 27ms/epoch - 1ms/step
Epoch 93/100
23/23 - 0s - loss: 161.7210 - 28ms/epoch - 1ms/step
Epoch 94/100
23/23 - 0s - loss: 160.5256 - 27ms/epoch - 1ms/step
Epoch 95/100
23/23 - 0s - loss: 159.2303 - 28ms/epoch - 1ms/step
Epoch 96/100
23/23 - 0s - loss: 158.1706 - 23ms/epoch - 997us/step
Epoch 97/100
23/23 - 0s - loss: 156.9067 - 29ms/epoch - 1ms/step
Epoch 98/100
23/23 - 0s - loss: 155.8027 - 29ms/epoch - 1ms/step
Epoch 99/100
23/23 - 0s - loss: 154.6502 - 26ms/epoch - 1ms/step
Epoch 100/100
23/23 - 0s - loss: 153.5619 - 26ms/epoch - 1ms/step

## Evaluation
Finally, we evaluate the model. To do this we use the mean squared error.

In [14]:
from sklearn.metrics import mean_squared_error
loss_value = R_model.evaluate(X_test, y_test)
y_predicted = R_model.predict(X_test)
MSE = mean_squared_error(y_test, y_predicted)
std_dev = np.std(MSE)
mean = np.mean(MSE)

print("The mean was found to be:", mean)
print("The standard deviation was found to be:", std_dev)

10/10 [==============================] - 0s 2ms/step - loss: 182.5758
10/10 [==============================] - 0s 1ms/step
The mean was found to be: 182.57577613797926
The standard deviation was found to be: 0.0

We then determine the mean and standard deviation of the mean squared error for 50 iterations.

In [15]:
Sum_MSE = 50
MSE_List= []
for n in range(0, Sum_MSE):
    X_train, X_test, y_train, y_test = train_test_split(predictors,  target, test_size=0.3, random_state = 4)
    R_model.fit(X_train, y_train, epochs=100, verbose=0)
    MSE = R_model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error",str(n+1),":",MSE)
    y_predicted = R_model.predict(X_test)
    MSE = mean_squared_error(y_test, y_predicted)
    MSE_List.append(MSE)

MSE_List = np.array(MSE_List)
mean = np.mean(MSE_List)
std_dev = np.std(MSE_List)


print("The mean of the mean squared errors were determined to be:", mean)
print("The standard deviation of the mean squared errors were determined to be", std_dev)

Mean Squared Error 1 : 95.46012115478516
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 2 : 56.17112350463867
10/10 [==============================] - 0s 937us/step
Mean Squared Error 3 : 47.42653274536133
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 4 : 44.698875427246094
10/10 [==============================] - 0s 995us/step
Mean Squared Error 5 : 42.48905563354492
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 6 : 40.84783935546875
10/10 [==============================] - 0s 987us/step
Mean Squared Error 7 : 39.92007827758789
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 8 : 39.04030227661133
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 9 : 37.71018600463867
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 10 : 36.71717071533203
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 11 : 36.11456298828125
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 12 : 35.73835754394531
10/10 [==============================] - 0s 887us/step
Mean Squared Error 13 : 35.42085266113281
10/10 [==============================] - 0s 887us/step
Mean Squared Error 14 : 35.29309844970703
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 15 : 35.1435432434082
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 16 : 35.24956512451172
10/10 [==============================] - 0s 907us/step
Mean Squared Error 17 : 35.17265701293945
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 18 : 35.137325286865234
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 19 : 35.27676010131836
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 20 : 35.231693267822266
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 21 : 35.14955139160156
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 22 : 35.02600860595703
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 23 : 34.908851623535156
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 24 : 34.837890625
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 25 : 34.623565673828125
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 26 : 34.259681701660156
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 27 : 34.285072326660156
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 28 : 34.385013580322266
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 29 : 34.31346893310547
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 30 : 34.28682327270508
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 31 : 34.61422348022461
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 32 : 34.59671401977539
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 33 : 34.49723434448242
10/10 [==============================] - 0s 951us/step
Mean Squared Error 34 : 34.554439544677734
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 35 : 34.703758239746094
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 36 : 34.84929275512695
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 37 : 35.04428482055664
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 38 : 35.35654830932617
10/10 [==============================] - 0s 886us/step
Mean Squared Error 39 : 35.67094039916992
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 40 : 35.76890182495117
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 41 : 35.75288391113281
10/10 [==============================] - 0s 1000us/step
Mean Squared Error 42 : 35.7110710144043
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 43 : 35.97364807128906
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 44 : 35.91743850708008
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 45 : 35.79014587402344
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 46 : 35.638587951660156
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 47 : 35.872047424316406
10/10 [==============================] - 0s 2ms/step
Mean Squared Error 48 : 35.9010009765625
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 49 : 35.972198486328125
10/10 [==============================] - 0s 1ms/step
Mean Squared Error 50 : 36.037628173828125
10/10 [==============================] - 0s 979us/step
The mean of the mean squared errors were determined to be: 37.771171830906354
The standard deviation of the mean squared errors were determined to be 9.081552483267298

## Conclusion
The mean in part C was lower than that of part B and A and the standard deviation was significantly lower than either of the previous parts indicating a greater precision and accuracy.